@use "variables" as *;

// Брейкпоинты
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;

// Миксины для медиа-запросов
@mixin sm {
  @media (min-width: #{$breakpoint-sm}) { @content; }
}

@mixin md {
  @media (min-width: #{$breakpoint-md}) { @content; }
}

@mixin lg {
  @media (min-width: #{$breakpoint-lg}) { @content; }
}

@mixin xl {
  @media (min-width: #{$breakpoint-xl}) { @content; }
}

@mixin xxl {
  @media (min-width: #{$breakpoint-xxl}) { @content; }
}

@mixin container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 $spacing-4;
  @include md {
    padding: 0 $spacing-8;
  }
}
